/* Font Face */
@font-face {
  font-family: 'Ubuntu';
  src: url('/static/fonts/Ubuntu-Regular.ttf');
}

/* Root Variables */
:root {
  --greenova-font-family: "Ubuntu";
  --greenova-font-weight: normal;
  --greenova-line-height: 1.125;
  --greenova-letter-spacing: 1px;

  --pico-font-family: var(--greenova-font-family);
  --pico-font-weight: var(--greenova-font-weight);
  --pico-line-height: var(--greenova-line-height);

  --greenova-border-radius: 8px;
  --greenova-border-radius-small: 4px;
  --greenova-spacing: 7.5px;
  --greenova-spacing-small: 5px;
  --greenova-padding: 10px;
  --greenova-padding-small: 5px;
  --greenova-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

  --greenova-title-size: 24px;
  --greenova-subtitle-size: 18px;
  --greenova-text-size: 16px;
  --greenova-table-size: 14px;

  --greenova-button-size: 16px;
}

/* Global Styles */
* {
  letter-spacing: var(--greenova-letter-spacing);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--greenova-text-secondary-dark);

  /* Title */
  &:first-child {
    font-size: var(--greenova-title-size);
    color: var(--greenova-text-primary-dark);
  }

  /* Subtitle */
  &:not(:first-child) {
    font-size: var(--greenova-subtitle-size);
    font-weight: bold;
  }
}

/* Header */
header {
  background: var(--pico-secondary-background);
}

/* Placeholder Text */
input[type='text']::placeholder {
  color: var(--greenova-tertiary-dark);
}

/* Paragraphs and Articles */
p,
article {
  color: var(--greenova-text-secondary-dark);
  font-size: var(--greenova-text-size);
}

/* Navigation */
[role='navigation'],
[role='navigation'] [role="menuitem"] {
  background: var(--greenova-beige-primary);
  color: var(--greenova-text-primary-dark) !important;
}

[role='navigation'] [role="menuitem"][aria-current] {
  background: var(--greenova-beige-secondary);
}

[role='navigation'],
[role='navigation'] ul,
[role='navigation'] ul li {
  border-radius: var(--greenova-border-radius);
  margin: 0px;
  padding: 0px;
}

[role='navigation'] [role="menuitem"] {
  border-radius: var(--greenova-border-radius);
  margin: 0px;
  padding: var(--greenova-padding);
}

/* Form Elements */
input,
optgroup,
select,
textarea {
  font-size: var(--greenova-text-size);
}

/* Tables */
table,
table thead,
table tbody {
  font-size: var(--greenova-table-size) !important;
}