/* Font Face */
@font-face {
  font-family: 'Ubuntu';
  src: url('/static/fonts/Ubuntu-Regular.ttf');
}

/* Root Variables */
:root {
  --greenova-font-family: "Ubuntu";
  --greenova-font-weight: normal;
  --greenova-line-height: 1.125;
  --greenova-letter-spacing: 0.0625rem;
  /* 1px */

  --pico-font-family: var(--greenova-font-family);
  --pico-font-weight: var(--greenova-font-weight);
  --pico-line-height: var(--greenova-line-height);

  --greenova-border-radius: 0.5rem;
  /* 8px */
  --greenova-border-radius-small: 0.25rem;
  /* 4px */
  --greenova-spacing: 0.46875rem;
  /* 7.5px */
  --greenova-spacing-small: 0.3125rem;
  /* 5px */
  --greenova-padding: 0.625rem;
  /* 10px */
  --greenova-padding-small: 0.3125rem;
  /* 5px */
  --greenova-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.1);
  /* 0 2px 2px */

  --greenova-title-size: 1.2rem;
  /* 19.2px */
  --greenova-subtitle-size: 0.9rem;
  /* 14.4px */
  --greenova-text-size: 0.8rem;
  /* 12.8px */
  --greenova-table-size: 0.7rem;
  /* 11.2px */

  --greenova-button-size: 0.8rem;
  /* 12.8px */
}

/* Global Styles */
* {
  letter-spacing: var(--greenova-letter-spacing);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--greenova-text-secondary-dark);

  /* Title */
  &:first-child {
    font-size: var(--greenova-title-size);
    color: var(--greenova-text-primary-dark);
  }

  /* Subtitle */
  &:not(:first-child) {
    font-size: var(--greenova-subtitle-size);
    font-weight: bold;
  }
}

/* Header */
header {
  background: var(--greenova-green-secondary);
}

/* Placeholder Text */
input[type='text']::placeholder {
  color: var(--greenova-tertiary-dark);
}

/* Paragraphs and Articles */
p,
article {
  color: var(--greenova-text-secondary-dark);
  font-size: var(--greenova-text-size);
}

/* Navigation */
[role='navigation'],
[role='navigation'] [role="menuitem"] {
  background: var(--greenova-beige-primary);
  color: var(--greenova-text-primary-dark) !important;
}

[role='navigation'] [role="menuitem"][aria-current] {
  background: var(--greenova-beige-secondary);
}

[role='navigation'],
[role='navigation'] ul,
[role='navigation'] ul li {
  border-radius: var(--greenova-border-radius);
  margin: 0;
  padding: 0;
}

[role='navigation'] [role="menuitem"] {
  border-radius: var(--greenova-border-radius);
  margin: 0;
  padding: var(--greenova-padding);
}

/* Form Elements */
input,
optgroup,
select,
textarea {
  font-size: var(--greenova-text-size);
}

/* Tables */
table,
table thead,
table tbody {
  font-size: var(--greenova-table-size) !important;
}